/*==========*/
.pulse {
    animation: pulse 2s infinite;
}

/*@-webkit-keyframes pulse {*/
/*    0% {*/
/*        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255,1);*/
/*    }*/
/*    70% {*/
/*        -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255,1);*/
/*    }*/
/*    100% {*/
/*        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255,1);*/
/*    }*/
/*}*/
@keyframes pulse {
    0% {
        /*-moz-box-shadow: 0 0 0 0 rgba(255, 255, 255,0);*/
        box-shadow: 0 0 0 0 rgba(255, 255, 255,0);
    }
    25% {
        /*-moz-box-shadow: 0 0 0 10px rgba(255, 255, 255,0.5);*/
        box-shadow: 0 0 0 5px rgba(255, 255, 255,0.5);
    }
    50% {
        /*-moz-box-shadow: 0 0 0 10px rgba(255, 255, 255,0.5);*/
        box-shadow: 0 0 0 5px rgba(255, 255, 255,0.8);
    }
    75% {
        /*-moz-box-shadow: 0 0 0 10px rgba(255, 255, 255,0.5);*/
        box-shadow: 0 0 0 5px rgba(255, 255, 255,0.5);
    }
    100% {
        /*-moz-box-shadow: 0 0 0 0 rgba(255, 255, 255,0);*/
        box-shadow: 0 0 0 0 rgba(255, 255, 255,0);
    }
}
/*==========*/

.filterSepia {
    animation: filterSepia 1s;
}

@keyframes filterSepia {
    0% {
        /*filter: sepia(1);*/
        filter: saturate(5);
    }
    100% {
        /*filter: sepia(0);*/
        filter: saturate(1);
    }
}
