@import '~antd/dist/antd.css';
@import 'Anim.css';


/*HTML*/
body {
    /*background-color: #000 !important;*/
}

html {
    overflow: hidden !important;
}

/* @ANTD*/
.ant-layout-header {
    height: 64px;
    padding: 0 50px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 64px;
    background: inherit;
    border: 1px solid;
}

.ant-layout {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-height: 0;
    background: inherit;
}

.ant-timeline.ant-timeline-label .ant-timeline-item-label {
    color: #949393 !important;
}

/*@ALIGN*/
.cls_tac {
    text-align: center !important;
}

.cls_tae {
    text-align: end !important;
}

.cls_tas {
    text-align: start !important;
}

/*@FONT*/
.cls_fs60px {
    font-size: 60px !important;
}

.cls_fs40px {
    font-size: 40px !important;
}
.cls_fs30px {
    font-size: 30px !important;
}
.cls_fs16px {
    font-size: 16px !important;
}

.cls_fs100px {
    font-size: 100px !important;
}

.cls_fw {
    font-weight: 700 !important;
}

/*@COLOR*/
.cls_c1 {
    color: #ffffff !important;
}
.cls_c2 {
    color: #52c41a !important;
}
.cls_c3 {
    color: #bababa !important;
}

/*@WIDTH*/
.cls_w150px {
    width: 150px !important;
}
.cls_w60P {
    width: 60% !important;
}
.cls_w90P {
    width: 90% !important;
}
.cls_w60px {
    width: 60px !important;
}

/*@MARGIN*/
/*all*/
.cls_m0px {
    margin: 0px !important;
}
/*top*/
.cls_mt20px {
    margin-top: 20px !important;
}

.cls_mt50px {
    margin-top: 50px !important;
}

/*@PADDING*/
/*all*/
.cls_pt20_0_0_20 {
    padding: 20px 0 0 20px;
}
/*right*/
.cls_pr30px {
    padding-right: 30px !important;
}
.cls_pr20px {
    padding-right: 20px !important;
}
/*left*/
.cls_pl20px {
    padding-left: 20px !important;
}

/*@DOM*/
/*input*/
.cls_ipt1 {
    border: 0px;
    border-bottom: 1px solid #d7d7d7;
}
.cls_ipt2 {
    border: 0px;
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 0.5em;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
}

/*button*/
.cls_btnCicle1 {
    width: 70px !important;
    height: 70px !important;
    font-size: 12px !important;
}

.cls_btnCicle1Small {
    width: 40px !important;
    height: 40px !important;
    font-size: 12px !important;
}

.cls_btnFix {
    background-color: inherit !important;
    border: none !important;
}

/*screencard*/
.cls_screenCard {
    box-shadow: rgb(225 225 225) 10px 14px 5px;
    padding: 20px 20px 30px 20px;
    background-color: #f6f6f6;
}

/*@DISPLAY*/
.cls_dfjc_c {
    display: flex;
    justify-content: center;
}

.cls_acfs {
    align-content: flex-start !important;
}

.cls_aibs {
    align-items: baseline !important;
}

.cls_domBlickComment {
    height: 201px;
    overflow-y: auto;
    overflow-x: hidden;
}

/*@BORDER*/
.cls_bv1 {
    border: 1px solid #c9c9c9 !important;
}

.cls_bc1 {
    border-color: red !important;
}
.cls_bc2 {
    border-color: #0f19d5 !important;
}
.cls_bc3 {
    border-color: #42b30c !important;
}
.cls_bc4 {
    border-color: #ffffff !important;
}

/*radius*/
.cls_br30px {
    border-radius: 30px !important;
}

/*@OPACITY*/
.cls_opHalf {
    opacity: 0.5 !important;
}

/*@HEIGHT*/
.cls_h200px {
    height: 200px !important;
}
.cls_h40vh {
    height: 40vh !important;
}
.cls_h90vh {
    height: 90vh !important;
}
.cls_h80vh {
    height: 80vh !important;
}

/*@OVERFLOW*/
.cls_overYauto {
    overflow-y: auto !important;
}

.cls_overXhidden {
    overflow-x: hidden !important;
}

/*TASK FOR THE DAY*/
/*@ENVELOPE*/
.cls_envelopeV1 {
    border: 3px solid #e8e8e8;
    box-shadow: -1px 0px 11px 5px rgb(236 236 236);
    padding: 20px;
    cursor: pointer;
    margin-top: 10px;
    height: fit-content !important;
}

.cls_taskForTheDayLattertoUrgentV1 {
    border-left: 3px solid #e93d3d;
    padding: 10px 0 10px 20px;
    margin-top: 10px;
    height: -moz-fit-content !important;
    height: fit-content !important;
}
.cls_taskForTheDayLattertoPandingV1 {
    margin-top: 10px;
    height: fit-content !important;
}

/*DOM FRAMESLIDER*/
.cls_sliderFramev1 {
    width: 100vw !important;
    max-width: 450px !important;
    height: 100vh !important;
}

.cls_sliderScreenOverlay {
    background-color: #19191999;
    height: 200px;
    width: 80%;
    left: 10%;
    position: absolute;
    top: 55vh;
    border-radius: 30px;
}

.cls_sliderScreenOverlayCorrection {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

